@import url(/Users/ishan/hr/happy-hours/styles/normalize.css);
:root {
  font-size: 16px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper h1 {
  text-align: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper h1 .title {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem;
}

.wrapper h1 .highlighter {
  margin-left: .5rem;
  width: 20px;
  height: 28px;
  background: #28a94b;
  -webkit-animation: fader 1500ms infinite;
          animation: fader 1500ms infinite;
}

.wrapper .card {
  background: white;
  padding: 2.5rem 2rem;
  -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}

.wrapper .card button {
  padding: .75rem 1rem;
  margin: 0 .25rem;
  background: white;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: 500;
}

.wrapper .card button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper .card button#open {
  background: #28a94b;
  color: white;
}

.wrapper .card button#start {
  background: #097bbf;
  color: white;
}

.wrapper .card button#finish {
  background: #db2644;
  color: white;
}

.wrapper .card button#restart {
  background: #f6a416;
}

.wrapper .card#dj-panel, .wrapper .card#question-card, .wrapper .card#answers-card {
  padding-top: 1.25rem;
}

.wrapper .card#dj-panel .card-title, .wrapper .card#question-card .card-title, .wrapper .card#answers-card .card-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.wrapper .card#question-card .card-footer button .icon {
  margin: 0 .25rem;
}

.wrapper .card#question-card .card-footer button#prev {
  background: #a5adb8;
  color: white;
}

.wrapper .card#question-card .card-footer button#next {
  background: #1ba94c;
  color: white;
}

.wrapper .card#question-card .card-content #question {
  font-size: 1rem;
  padding-bottom: .5rem;
}

.wrapper .card#answers-card .card-content #answer-table {
  width: -webkit-fill-available;
  border-spacing: 1rem;
  border-collapse: separate;
}

.wrapper .card#answers-card .card-content #answer-table tr {
  margin: 1rem;
}

.wrapper .card#answers-card .card-content #answer-table tr td {
  padding: .75rem .75rem;
  text-align: left;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
  cursor: pointer;
}

.wrapper .card#answers-card .card-content #answer-table tr td:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */